body {
  margin-top: 30px;
  font-family: "Courier";
  background-color: #ffe6f2;
  color: black;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

/* Other styles... */

audio {
  position: absolute;
  bottom: 5px; /* Position at the top of the container */
  right: 10px; /* Adjust left position as needed */
  width: 100px; /* Adjust the width of the audio element */
}


#cutecutecuteU {
  width: 330px; /* Adjusted width for the image */
  height: auto;
  position: absolute; /* Set images to absolute positioning */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  bottom: 35%; /* Adjusted bottom position for the image */
}



#nextPageBtn {
  font-size: 12px;
  position: absolute; /* Position buttons absolutely */
  bottom: 10px; /* Adjusted bottom position for the next page button */
  left: 65%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  font-family: "Courier", monospace;
  padding: 10px 24px;
  box-shadow: 1px 1px 2px rgb(37, 37, 37);
  border: 2px solid #000000;
  background-color: #e44949;
  color: rgb(5, 5, 5);
  transition: 0.3s;
  display: block;
}

#previousPageBtn {
  font-size: 12px;
  position: absolute; /* Position buttons absolutely */
  bottom: 10px; /* Adjusted bottom position for the previous page button */
  right: 65%; /* Center horizontally */
  transform: translateX(50%); /* Center horizontally */
  font-family: "Courier", monospace;
  padding: 10px 24px;
  box-shadow: 1px 1px 2px rgb(37, 37, 37);
  border: 2px solid #000000;
  background-color: #e44949;
  color: rgb(5, 5, 5);
  transition: 0.3s;
  display: block;
}

.title {
  font-family: 'Segoe Script', cursive;
  font-size: 35px;
  color: #e44949;
  margin-top: 10px; /* Adjusted margin top for the title */
}

.pages-btn {
  padding: 8px 16px; /* Reduced padding for smaller screens */
  font-size: 14px; /* Reduced font size for smaller screens */
  margin-right: 20px; /* Adjusted margin for smaller screens */
}

.poetry p {
  padding: 8px;
  margin-bottom: 10px; /* Increased margin bottom for better spacing */
  font-size: 18px; /* Reduced font size for smaller screens */
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Increased margin bottom for better spacing */
}

#poetryContainer {
  font-size: 14px; /* Reduced font size for smaller screens */
  margin-top: 10px;
}